body {
  background-color: #d6c585;
  font-family: ;
}

h1{
  margin:10px;
}


img {
  margin:2px;
  width:110;
  padding:0 10px 0 0;
}


table {
 width: 40%;
font-family: Monospace;
}

td {
  width: ;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}